body {
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 20px;
  list-style: square;
}

.selectedLink {
  font: 16px "Century Gothic", Futura, sans-serif;
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: red;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.add-button {
  font: 16px "Century Gothic", Futura, sans-serif;
  border: none;
  background-color: black;
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  width: 100px;
  padding: 10px;
  text-decoration: none;
}

input {
  width: 250px;
  margin-right: 13px;
  padding: 5px;
  font: 12px "Century Gothic", Futura, sans-serif;
}
